@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Roboto);
h1 {
  font-size: 60px;
  font-family: 'Slabo 27px', serif;
}

body {
  background-color: #222222;
  font-family: 'Roboto', sans-serif;
}

#footer {
  text-align: center;
  color: black;
}

#footer a {
  color: #6464c8;
}

.kanji {
	font-size:10em;
}

.if-button {
  background-color: #333;
  color: #efeff0;
  display: inline-block;
  font-size: 1.5em;
  padding: 20px;

}
.font-sans {
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.font-serif {
  font-family: serif;
}

.answerShow
{
  font-size: 3em;
}

/*Tabs based on a tutorial by W3S - http://www.w3schools.com/howto/howto_js_tabs.asp*/

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {float: left;}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {background-color: #ddd;}

ul.tab li a:focus, .active {background-color: #ccc;}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.infobox {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    width: 50%;
}
