@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Roboto);
h1 {
  font-size: 60px;
  font-family: 'Slabo 27px', serif;
}

body {
  background-color: #222222;
  font-family: 'Roboto', sans-serif;
}

#footer {
  text-align: center;
  color: black;
}

#footer a {
  color: #6464c8;
}

.kanji {
	font-size:10em;
}

.if-button {
  background-color: #333;
  color: #efeff0;
  display: inline-block;
  font-size: 1.5em;
  padding: 20px;

}
.font-sans {
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.font-serif {
  font-family: serif;
}

.answerShow
{
  font-size: 3em;
}
